@model CarrinhoCompraViewModel

@if(Model.CarrinhoCompra.CarrinhoItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index">
        <h4>Carrinho(@Model.CarrinhoCompra.CarrinhoItems.Count)</h4>
    </a>
}
